!!! 5
%html
%head
	%title Bullet Point Bills
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	%link{:href => "https://fonts.googleapis.com/cssfamily=Cinzel:400,700,900|Playfair+Display+SC:400,700,900", :rel => "stylesheet"}/
	= csrf_meta_tags
%body
	- if user_signed_in?
		%a{:name => "top"}
		%nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded{:style => "background-color: white"}
			%a.navbar-brand{:href => "#"}
				%img.d-inline-block.align-top{:alt => "", :height => "30", :src => "#{asset_path( 'logo_placeholder.png' )}", :width => "100"}/
				Bootstrap
			%ul.nav.nav-tabs
				%li.nav-item
					%a.nav-link{:href => "/congress_people"} Members Of Congress
				%li.nav-item
					%a.nav-link{:href => "/bills/new"} New Bill
				#bn
					%li.nav-item
						%a.nav-link{:href => "/bills"} Bills
				%li.nav-item
					%a.nav-link{:href => "/about"} About Us
				%li.nav-item
					%a.nav-link{:href => "/congress_people/new"} New Congress Person
			
			%ul.nav.pull-right
				%li
					=  link_to "Sign Out",destroy_user_session_path, method: :delete
					
	- else
		%a{:name => "top"}
		%nav.navbar.navbar-toggleable-sm.navbar-light.bg-faded{:style => "background-color: white"}
			%a.navbar-brand{:href => "#"}
				%img.d-inline-block.align-top{:alt => "", :height => "30", :src => "#{asset_path( 'logo_placeholder.png' )}", :width => "100"}/
				Bootstrap
			%ul.nav.nav-tabs
				%li.nav-item
					%a.nav-link{:href => "/congress_people"} Members of Congress 
				#bn
					%li.nav-item
						%a.nav-link{:href => "/bills"} Bills
				%li.nav-item
					%a.nav-link{:href => "/about"} About Us

	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"

		= yield




	.container
		%footer
			.footer
				%ul
					%li
						.copy 
							&copy; 2016 basketCaseSoftWerks
					%li
						%a{:href => "mailto:someone@example.com"}
							About Us
					%li
						%a{:href => "mailto:someone@example.com"}
							Contact Us
					%li
						%a{:href => "mailto:someone@example.com"}
							Terms
					%li
						%a{:href => "#top"} Back to top






